nav {
    width: 25%;

    p {
        font-size: 1.6rem;
        margin: 0 0 1rem 0;
    }

    .nav-section {
        margin-bottom: 2rem;
    }

    .nav-item {
        border-left: solid 2px #ccc;

        a {
            font-size: 1.6rem;
            padding: .6rem 0 .6rem 0;
            margin-left: 2rem;
            text-decoration: none;
            display: block;
            color: #333
        }
    }
}

.acc{
    text-decoration: none;
    color:#333;
    display: block;
    &:hover, &:hover:before{
        color:#999;
    }
    &:before {
        content: '\25BC'; /* Unicode character for "plus" sign (+) */
        font-size: 9px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

&.nav-active{
    &:hover{
        color:#333;
    }
    &:before {
  content: ""; /* Unicode character for "minus" sign (-) */
}
}

}

.active {
    color: #F7104E !important;
    font-weight: bold;
}