nav {
    width: 25%;

    p {
        font-size: 1.6rem;
    }

    .nav-item {
        border-left: solid 1px #fff;

        a {
            font-size: 1.6rem;
            padding: .5rem 0 .5rem 2rem;
            text-decoration: none;
            display: block;
            color: #333
        }
        &:last-child{
            margin-bottom: 3rem;
        }
    }
}

.acc{
    text-decoration: none;
    color:#333;
    display: block;
    border-bottom: solid 1px #ccc;
    padding: 1rem 0;
    &:hover, &:hover:before{
        color:#999;
    }
    &:before {
        content: '+'; /* Unicode character for "plus" sign (+) */
        font-size: 1.4rem;
        float: right;
        margin-left: 5px;
        font-weight: 900;
    }

&.nav-active{
    border: none;
    margin: 0;
    &:hover{
        color:#333;
    }
    &:before {
        content: ""; /* Unicode character for "minus" sign (-) */
    }
}

}

.active {
    color: #F7104E !important;
    font-weight: bold;
    background: #fff;
    border-radius: 0 10px 10px 0;
}